@font-face {
  font-family: 'Helvetica Neue LT Std Cn';
  src: url("../fonts/helvetica-neue-lt-std-cn/HelveticaNeueLTStd-Cn.woff2") format("woff2"), url("../fonts/helvetica-neue-lt-std-cn/HelveticaNeueLTStd-Cn.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica Neue LT Std Cn';
  src: url("../fonts/helvetica-neue-lt-std-cn/HelveticaNeueLTStd-LtCn.woff2") format("woff2"), url("../fonts/helvetica-neue-lt-std-cn/HelveticaNeueLTStd-LtCn.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica Neue LT Std Cn';
  src: url("../fonts/helvetica-neue-lt-std-cn/HelveticaNeueLTStd-MdCn.woff2") format("woff2"), url("../fonts/helvetica-neue-lt-std-cn/HelveticaNeueLTStd-MdCn.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("../fonts/helvetica-neue-lt-std/HelveticaNeueLTStd-Lt.woff2") format("woff2"), url("../fonts/helvetica-neue-lt-std/HelveticaNeueLTStd-Lt.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("../fonts/helvetica-neue-lt-std/HelveticaNeueLTStd-Bd.woff2") format("woff2"), url("../fonts/helvetica-neue-lt-std/HelveticaNeueLTStd-Bd.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url("../fonts/helvetica-neue-lt-std/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../fonts/helvetica-neue-lt-std/HelveticaNeueLTStd-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

/* Base Styles
-------------------------------------------------------------------------------------
---------------------------------------------------------------------------------- */
/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/* Element Adjustments */
main {
  display: block;
  /* IE! */ }

img {
  margin: 0;
  max-width: 100%;
  height: auto; }

figure {
  margin: 0; }

nav ul,
nav li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

select {
  color: #000; }

/* Body */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  color: #000;
  font-family: "Helvetica Neue LT Std", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5; }
  body.loading-js {
    visibility: hidden; }

/* Default element styles for WP editor */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  text-rendering: optimizeLegibility;
  font-weight: 300;
  text-transform: uppercase;
  color: #00355f;
  font-family: "Helvetica Neue LT Std Cn", sans-serif; }

h1 {
  font-size: 40px; }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 60px; } }
h2 {
  font-size: 40px; }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 60px; } }
h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 16px; }

p {
  font-size: 20px;
  margin: 1em 0; }

hr {
  border-top: 1px solid #3585b7;
  margin: 50px 0; }

a {
  color: #3585b7; }
  a:focus {
    outline: none; }

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.l-wapper {
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.m-wrapper, .hero .content, .content-row > div > div, .content-module > div {
  max-width: 1020px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

/* Backend Specific Styles
-------------------------------------------------------------------------------------
---------------------------------------------------------------------------------- */
.wp-block {
  max-width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important; }
  .wp-block * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .wp-block img[src$=".svg"]:not(.emoji) {
    width: auto !important; }
  .wp-block .hidden-warning * {
    font-family: "Helvetica Neue LT Std", sans-serif; }

.wp-block-post-title {
  font-size: revert; }

.hidden-warning {
  background-color: #e5324d;
  color: white;
  font-size: 1.2em;
  text-align: center;
  padding: 15px; }

/* Block: Content Row Styles
-------------------------------------------------------------------------------------
---------------------------------------------------------------------------------- */
.content-row {
  border-top: 10px solid #3585b7;
  padding: 130px 0; }
  .content-row > div {
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.85); }
    .content-row > div > div {
      padding-right: 20px;
      padding-left: 20px;
      padding-top: 50px;
      padding-bottom: 50px;
      text-align: center; }
      @media screen and (min-width: 768px) {
        .content-row > div > div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          text-align: left;
          padding-top: 0;
          padding-bottom: 0; } }
  .content-row figure {
    position: relative; }
    @media screen and (min-width: 768px) {
      .content-row figure {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 50%;
                flex: 0 1 50%;
        max-width: 50%; } }
    @media screen and (min-width: 768px) {
      .content-row figure img {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        max-width: 100%; } }
  @media screen and (min-width: 768px) and (min-width: 1200px) {
    .content-row figure img {
      max-width: 300%; } }
  .content-row .content {
    padding-bottom: 50px; }
    @media screen and (min-width: 768px) {
      .content-row .content {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 50%;
                flex: 0 1 50%;
        max-width: 50%;
        padding-right: 50px;
        padding-top: 50px; } }
  .content-row h2 {
    margin-top: 0;
    margin-bottom: 0; }
  .content-row p {
    margin-bottom: 0; }

/* Block: Hero Styles
-------------------------------------------------------------------------------------
---------------------------------------------------------------------------------- */
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  .hero .scroll {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    bottom: 30px;
    width: 100%;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 3px;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .hero .scroll {
        font-size: 15px;
        bottom: 100px; } }
    .hero .scroll:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
      position: absolute;
      left: 50%;
      margin-top: 5px;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
      @media screen and (min-width: 768px) {
        .hero .scroll:after {
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-top: 15px solid #fff; } }
  .hero:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 53, 95, 0.52); }
  .hero .video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .hero .video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .hero h1 {
    margin: 0 0 20px;
    font-weight: bold;
    color: #fff;
    font-size: 36px; }
  .hero h2 {
    margin: 0;
    font-weight: 500;
    color: #fff;
    font-size: 30px;
    border-left: 2px solid white;
    padding-left: 20px;
    padding-top: 7px;
    margin-left: 10px;
    text-transform: initial; }
  .hero .title {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .hero .title > div {
      position: relative;
      z-index: 1;
      margin-top: 200px; }
    .hero .title:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 0;
      bottom: -500px;
      right: 0;
      width: 767px;
      height: 767px;
      border-radius: 100%;
      background: rgba(40, 35, 124, 0.36); }
      @media screen and (min-width: 768px) {
        .hero .title:before {
          bottom: -200px;
          width: 767px;
          height: 767px; } }
  .hero .graphic {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 0px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    @media screen and (min-width: 768px) {
      .hero .graphic {
        padding-left: 20px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media screen and (min-width: 1024px) {
      .hero .graphic {
        padding-left: 50px; } }
    @media screen and (min-width: 1200px) {
      .hero .graphic {
        padding-left: 100px; } }
    .hero .graphic > div {
      background: rgba(9, 76, 122, 0.61);
      padding: 16% 10%;
      border-radius: 100%;
      position: relative; }
      @media screen and (min-width: 768px) {
        .hero .graphic > div {
          padding: 32% 13%; } }
      .hero .graphic > div > img {
        position: relative;
        z-index: 2; }
        @media screen and (max-width: 768px) {
          .hero .graphic > div > img {
            max-width: 125px; } }
    .hero .graphic span {
      display: block;
      background: rgba(172, 184, 71, 0.61);
      position: absolute;
      z-index: 1;
      top: -20px;
      right: -10px;
      padding: 17% 6.5%;
      border-radius: 100%; }
      @media screen and (min-width: 768px) {
        .hero .graphic span {
          padding: 17% 6.5%; } }
      @media screen and (max-width: 768px) {
        .hero .graphic span img {
          max-width: 80px; } }
  .hero .content {
    padding: 0 20px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    position: relative;
    z-index: 2; }
    @media screen and (min-width: 768px) {
      .hero .content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .hero .content > div {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 50%;
              flex: 0 1 50%;
      max-width: 50%; }
      @media screen and (min-width: 768px) {
        .hero .content > div {
          -webkit-box-flex: 0;
              -ms-flex: 0 1 50%;
                  flex: 0 1 50%;
          max-width: 50%; } }
.wp-block .hero {
  height: 80vh; }

/* Block: Text Styles
-------------------------------------------------------------------------------------
---------------------------------------------------------------------------------- */
.text {
  text-align: center;
  margin: 50px 0;
  padding: 0 20px; }
  @media screen and (min-width: 1024px) {
    .text {
      padding: 0 50px; } }
  .text h2 {
    margin-top: 0; }
/*# sourceMappingURL=backend.css.map */